.ks-input {
  width: 100%;
  position: relative;

  &.-dark > .field > .input {
    color: $white;

    &::placeholder {
      color: $color-light-gray;
    }
  }

  &.-hidden {
    display: none;
  }

  > .field {
    @include flex-center;
    width: 100%;
    padding: 12px 22px;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: transparent;
  }

  > .field > .input {
    width: 100%;
    color: $black;
    border: none;
    font-weight: $fw-normal;
    font-size: $fs-normal;
    background-color: transparent;

    &::placeholder {
      color: $color-gray-700;
    }
  }

  &.-lg > .field {
    padding: 16px 22px;
  }

  &.-has-adornment > .field > .adornment {
    color: $color-primary;
  }

  &.-invalid > .field {
    border: 1px solid red !important;
  }

  &.-invalid > .field > .invalid {
    @include flex-center;
    @include square(16px);
    font-size: $fs-sm;
    font-weight: $fw-bold;
    border-radius: 50%;
    cursor: default;
    color: red;
    border: 1px solid red;
  }
}
