// Font
$font-family-heading: "Quicksand", sans-serif;
$font-family-body: "system-ui";

$fs-sm: 13px;
$fs-normal: 14px;
$fs-large: 15px;
$fs-x-large: 18px;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Palette
$black: #000;
$white: #fff;
$black-form: #333;
$color-primary: rgb(7, 142, 200);
$color-secondary: #0e2258;
$color-orange: #f35a38;
$color-dark: #343a40;
$color-green: #00a37b;
$color-pink: pink;
$color-purple: #4618bacc;

$color-light-gray: #d8d8d8;
$color-gray: #cccccc;
$color-gray-600: #787878;
$color-gray-700: #555;
$color-gray-800: #494949;
$color-gray-900: #333333;

$bg-gray: #1a1a1a;
$bg-dark-700: #1f1f1f;

$border-color: #e7e7e7;
$border-radius: 10px;

$shadow-primary: 0px 0px 5px rgba($black, 0.05);
